*{
    padding: 0%;
    margin: 0%;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

figure{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

figure img{
    width:200px ;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #8b8888;
    padding-bottom: 20px;
    padding-top: 20px;
    position: sticky;
    top: 0;

}

nav a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(29, 27, 57);

}

.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;

}

.home div{
    padding-top: 150px;
}

.home img{
    margin-left: 20px;
    margin-bottom: 60px;
    width: 250px;
}

.home h2{
    font-size: 40px;
    font-weight: 800;
}

.home input{
   width: 250px;
   height: 50px;
   border-radius: 10px;
   margin-top: 20px;
}

section{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;

}

section p{
    padding-top: 30px;
}

.best-selling{
    padding-top: 20px;
}
#best-sellers{
    padding-top: 30px;
    padding-left:50;
    padding-bottom: 20px;
    text-align: center;

}
.book-groups{
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 20px;
    border: 1px solid black;
}
.books{
    height: 335px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: #7c7878;
    border: 1px solid black; 
}
.book-groups img{
    width: 300px;
    height: 250px;
    border-radius: 6px;
    filter: opacity(0.9);
}

.book-groups h5{
    position: relative;
    top: -15px;
    text-align: center;
    padding: 20px;
    font-weight:bolder;
    font-size:larger;
}
.books button{
    background-color:rgb(38, 34, 34);
    color: #fff;
    height: 7vh;
    width: 10vw;
    border-radius: 10px;
    font-size:larger;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -30px;
    border: none; 
    

}

.card-group{
    display: flex;
    margin-top: -20px;
    margin-bottom: 30px;
}
#books{
    position:relative;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size:x-large;
}
.card-group .card{
  width: 400px;
  height: 500px;  
  padding: 30px;
  margin: 10px;
  background-color: #9c9797;
  border: 1px solid rgb(206, 200, 200);
}
.card-img-top{
    width: 332px;
    height: 350px;
}
.card .card-body{
    background-color: #3a2f2f;
}
.card-body .card-title{
    background-color:#383232;
    color: white;
    text-align: center;
    height: 60px;
    margin-bottom: 10px;

}
.card button{
    background-color: #383535;
    color: rgb(255, 255, 255);
    height: 7vh;
    width: 10vw;
    display: block;
    margin: 0 auto;
    border: none;
    padding-top: 10px;
    margin-bottom: 10px;
}
.connect{
    margin-top: 50px;
    background:#e1e1e1;
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.connect h3{
    padding-bottom: 20px;
    background-color:#e9d9d9;

}
.connect i{
    width: 40px;
    background-color: #faf4f4;
}
footer{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;


}
footer p{
    font-size: medium;
}

footer ::first-child{
    font-size: large;

}
footer div a{
    color: #000;
    display: block;
    font-size: medium;

}
footer img{
    width: 20%;
    height: 30vh;
    filter: opacity(0.5);
    border-radius: 20px;
}
.copyright{
    margin-top: 70px;
    text-align: center;
}
.copyright p{
    color: #8f8e8e;
    font-size: medium;
}

button:hover{
    background-color: #fff;
    color: #000;
}
button:active{
    background-color: #000;
    color: #fff;


}
nav:hover{
    background-color: #383636;
    
}


/*for pc system responsiveness*/
@media(max-width:900px){
    .home img{
        margin-left: 20px;
        width:350px;
        margin-top: 20px;
    }
    .home h2{
        font-size:30px;
        font-weight:700px;
    }
    .books-group{
        display:grid;
        justify-content:space-evenly;


    }
    .books{
        margin-bottom: 10px;
    }
    .books button{
        width:15vw;
        height:7vh; 
    }
    .card-group{
        display:grid;
    }
    .card-group .card-title{
        font-size:1.5vw;
        padding-top: 10px;

    }
    footer p{
        font-size:1vw;
    }
    footer div p{
        font-size:1vw;

    }
    footer img{
        width:40%;

    }
}





/* for mobile responsiveness */
@media(max-width: 420px){
    figure{
        margin-top: -15px;
    }
    figure img{
        width: 100px;
    }
    .home{
        margin-right: 10px;
    }
    .home div{
        padding: 70px;
        padding-left: 40px;
        
       
       
    }
    .home img{
        width: 150px;
        padding-left: -80px;
        padding-top: 7px;
    }
    .home h2{
        font: 10px;

    }
    .home input{
        width: 100px;
        height: 10px;
        margin-top: 7px;
    }
    section{
        padding-top:30px ;
        padding-bottom: 10px;
    }
    section h1{
        font-size: medium;

    }
    section p{
        font-size: smaller;
        padding-top: 15px;
    }
    .book-groups{
        display: grid;
        margin-left: 10px;
    }
    .books{
        margin-bottom: 20px;
    }
    .books img{
        width:300px;
        height:350px;
    }
    .books button{
        width:20vw ;
        height: 5vh;
        display: block;
        margin: o auto;
    }
    .card-group{
        display: grid;
        margin-left: 22px;
    }
    .card-group .card{
        margin-bottom: 20px;
        margin-top: 40px;
        width: 320px;
        height: 470px;
        margin-left: -2px;

    }
    .card .card-title{
        height: 40px;
        font-size: small;
        padding-top: 3px;
    }
    .card button{
        background-color: #302d2d;
        color: white;
        width:20vw;
        height: 5vh;
        display: block;
        margin: 0 auto;
        border: none;

    }
    .connect{
        background-color: #c9c2c2;
    }
    .connect h3{
        font-size: medium;
        margin-top: -20px;
    }
    .connect img{
        width: 30px;

    }
    footer p{
        font-size: 2vw;
    }
    footer div:first-child{
        font-size: 2vw;

    }
    footer div a{
        font-size: 1.5vw;

    }
    footer img{
        visibility: none;
    }
}




